main section {
    padding: 1.8rem 5rem;
}

main section h2,
main section h3 {
    margin-bottom: 1.3rem;
}

.carousel-item img {
    object-fit: cover;
    -o-object-fit: cover;
    min-height: 500px;
}

#welcome-txt h2 { margin-top: -.3rem; }

/* STUDY WITH US */

.study-with-us-container {
    background-image: url("../../../public/assets/images/student-carrying-books.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding: 0;
}

.study-with-us-container .content-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
}

.study-with-us-container .left-content,
.study-with-us-container .right-content {
    width: 50%;
    padding: 1rem 4rem;
}

.study-with-us-container .right-content {
    width: 50%;
    padding: 0;
    padding-right: 4rem;
    margin-top: 2.5rem;
    position: relative;
}

.study-with-us-container .right-content img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    -o-object-fit: cover;
    display: block;
}


/* RESOURCES */

.resources-img-figure {
    width: 500px; 
    margin-right: 1.5rem;   
}

.resources-img-figure:nth-last-child(1) { margin-right: 0; }

.resources-img-figure img {
    height: 200px;
    max-width: 100%;
    width: 500px;
    object-fit: cover;
}

/* NEWS & EVENTS */

.news-sec,
.events-sec { width: 50%; }


.news-item img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    -o-object-fit: cover;
}

.news-text-wrapper,
.events-text-wrapper
 {
    width: 100%;
    border-bottom: 1px solid var(--color-scale-gray-3);
}

.news-text-wrapper p, .news-text-wrapper h4,
.events-text-wrapper p, .events-text-wrapper h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.events-text-wrapper { padding: .2rem; padding-bottom: .7rem; }

.event-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    -o-object-fit: cover;
}

/* PRINCIPAL OFFICERS */

.officer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.officer img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    -o-object-fit: cover;
}

.officer div div {
    font-size: 1.1rem !important;
    margin-bottom: .15rem !important;
}

.officer div span { font-size: 1.05rem !important; }

#p-officers-divider-label::before, #p-officers-divider-label::after {
    border-top-color: rgb(226, 188, 16);
    border-width: 3px;
}


/* DEPARTMENTS PAGES STYLES */

.cxc {
    background-image: url('../../../public/assets/images/books-shelve.jpg');
    padding: 2rem 0;
}

.cxcc {
    background-color: rgba(0, 0, 0, 0.16);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: .75rem 0;
    color: #333;
  }
  
  th,
  td {
    padding: 0.75rem 1.2rem;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  @media screen and (max-width: 768px) {
    table {
      font-size: 0.8rem;
    }
  
    th,
    td {
      padding: 0.5rem;
    }
  }
  



@media screen and (max-width: 992px) {
    #welcome-msg-container { padding: 0 !important; }

    .news-sec,
    .events-sec {
        /* width: 100%; */
        border: none !important;
    }

    .news-sec { padding-right: 0rem; }

    .events-sec { padding-left: 2rem; }

    #p-officers-divider-label { width: 100% !important; }
}

@media screen and (max-width: 768px) {
    main section { padding: 1rem 2rem; }

    /* WELCOME ADDRESS */

    #welcome-msg-outer-container { padding: 1rem !important; }

    #welcome-msg-container { flex-direction: column; align-items: center !important; }

    #welcome-txt { padding: 0 !important; margin-top: 1rem; }

    #welcome-txt h1 {
        text-align: center;
        margin-top: .5rem;
        margin-bottom: 1rem;
    }

    #welcome-img-container {width: 90%; }

    #welcome-img-container img {
        width: 100%;
        border: none !important;
        border-radius: none !important;
        object-fit: cover;
        -o-object-fit: cover;
    }

    /* STUDY WITH US */

    .study-with-us-container .content-wrapper {
        flex-direction: column !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .study-with-us-container .left-content,
    .study-with-us-container .right-content {
        padding: 1rem;
        width: 100%;
    }

    #apply-btn-left { display: none; }

    #apply-btn-right {
        display: block !important;
        margin-top: 3rem !important;
        width: 100% !important;
    }

    .study-with-us-container .right-content {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    /* RESOURCES */

    #res-fig-wrapper {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .resources-img-figure {
        margin-top: 1rem 0;
        height: auto;
        width: 100%;
    }

    .resources-img-figure img {
        height: 200px;
        max-width: 100%;
        width: 100%;
        object-fit: cover;
    }

    /* NEWS & EVENTS */
    .news-events-wrapper,
    .news-item {
        flex-direction: column !important;
    }

    .news-sec,
    .news-item,
    .events-sec {
        width: 100%;
    }

    .news-item img {
        width: 100%;
        height: 200px;
        margin-bottom: .3rem;
    }

    .news-item a {
        display: block;
        margin-bottom: .5rem;
    }

    .news-sec { padding-right: 2rem; }

    #p-officers-divider-label h2 { font-size: 1.2em !important; }
}